* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* font-family: "SF Pro"; */

  }
  
  body {
    display: flex;
    min-height: 100vh;
    /* background-color: #f7f8fa; */

    color: #575e73;
    background-color: #fff;
    
    /* background: linear-gradient(to bottom right, #011831, #1e021d); */
    /* background-color: #030330; */
  }
  
  .dashboard {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  
  .sidebar {
    width: 200px;
    background-color: #fff;
    /* background: #02021e; */
    /* padding: 20px; */
    /* border: #eeeeee 2px solid; */
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    /* -webkit-border-radius: 16px; */
    /* border-radius: 16px; */
    /* background: #ffffff; */
    -webkit-box-shadow: 12px 12px 33px #cccccc2f, -12px -12px 23px #ffffff00;
    box-shadow: 12px 12px 33px #cccccc2f, -12px -12px 23px #ffffff00;
    /* -webkit-box-shadow: 13px 13px 40px #011831, -13px -13px 40px #1e021d; */
    /* box-shadow: 13px 13px 40px #011831, -13px -13px 40px #1e021d; */
  }
  .sidebar .div{
    width: 100%;
  }
   .logo{
    margin-top: 20px;
    margin-bottom: 40px;
    height: 10%;
     background-color: #fff;
     /* background-color: #02021e; */
     /* border-bottom: #eeeeee 1px solid; */
     /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); */
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: start;
  }
  img{
    padding-right: 30px;
    /* height: 45px;  */
    /* width: 45px; */
  }
  
  .top img{
    height: 20px;
    width: 35px;
    /* padding-top: 10px; */
  }
  .google{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 20px;
  }
  .plan{
    margin-left: 20px;
  }
  i{
    padding-left: 10px;
    padding-top: 10px;
    height: 40px; 
    width: 40px;
    color: #575e73;
  }
  .top, .navtop{
    height: 10vh;
    background-color: #fff;
    background-color: #02021e;
    /* padding: 20px; */
    /* border-bottom: #eeeeee 2px solid; */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 60px; */
  }
  .menu-item{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row; 
    width: 94%;
    /* margin: 10px; */
    border-radius:10px ;
    font-size: 19px;
    margin-block:10px ;
    /* color: #ffffff60; */
  }
  .end{
    
    /* border-bottom: 2px solid #eeeeee; */
  }
  .menu-item:hover{
    cursor: pointer;
  }
  
  .menu-item:not(:active):hover,
  .menu-item:focus {
    background-color: #f4f4fc;
  }
  /* style.css */
  .active {
      /* color: #000; */
      background-color: #f4f4fc; 
      /* background-color: #011831; */
      /* Change this to your desired active background color */
  }
  
  .top{
    height: 10%;
    background-color: #fff;
    /* padding: 20px; */
    /* border-bottom: #eeeeee 2px solid; */
    /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* -webkit-box-shadow: 23px 23px 80px #01010c, -23px -23px 80px #030330; */
    /* box-shadow: 23px 23px 80px #01010c, -23px -23px 80px #030330; */
    /* -webkit-border-radius: 16px; */
    /* border-radius: 16px; */
    /* background: #ffffff; */
    -webkit-box-shadow: 12px 12px 33px #cccccc2f, -12px -12px 23px #ffffff00;
    box-shadow: 12px 12px 33px #cccccc2f, -12px -12px 23px #ffffff00;
  }
  .menu{
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    /* background: red ; */
    height: 40%;
    width: 100%;
    color: #575e73;
    /* color: #ffffff60; */
  }
  .tools{
    margin-left: 10px;
    margin-bottom: 5px;
    color: #000;
  }
  .tools:hover{
    background-color: #fff;
    cursor:default
  }
  .logout{
    margin-bottom: 20px;
    justify-self: end;
  }
  .bottom3{
    margin-top: 1em;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    /* background: #00ff6e ; */
    height: 20%;
    width: 100%;
  }
  .upsell {
    height: 150px; /* Adjust height as needed */
    border-radius: 10px;
    border: #b173ff solid 2px;
    width: 85%;
    
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(150deg, #b173ff40, #b173ff30, #fff, #fff, #fff, #fff, #fff, #fff, #fff);
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
  }
  
  .upsell-content {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .upsell-icon img {
    width: 30px; /* Adjust size as needed */
    height: 30px;
    margin-right: 10px;
  }
  
  .upsell-text h4 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .upsell-text p {
    font-size: 14px;
    color: #555;
  }
  
  .upsell-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #b173ff;
  }
  
  
  .welcome{
    margin: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
  }
  .welcome h2{
    /* color: black; */
    font-size: 45px;
    background: linear-gradient(to bottom, #f0f, #0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-bottom: 20px;
  }
  .welcome-content-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
    margin-right: 20px;
  }
  .buttons{
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
.buttons input{
  /* background-color: #000000; */
}
input[type="file"] {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 20px 50px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}
  .buttons .button-csv {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 20px 50px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
  }
  .buttons .button-csv:hover {
    background-color: #fff;
    color: black;
    border: 1px solid #000;
  }
  
 .button-man {
    background-color: #fff;
    color: #000000;
    border: none;
    padding: 20px 50px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    /* border: 1px solid #000; */

    /* border: 1.5px solid #000; */
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #000;
    outline: none;
    transition: ease 0.25s;
    text-align: left;
    background-color: #fff;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    background: #ffffff;
    -webkit-box-shadow: 11px 11px 33px #ababab, -11px -11px 33px #ffffff;
    box-shadow: 11px 11px 33px #ababab, -11px -11px 33px #ffffff;
    border: 1.5px solid #000;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #000, 12px 12px 33px #cccccc, -12px -12px 33px #ffffff;
  }
   .button-man:hover {
    /* background-color: #2b0031; */
    /* color: white; */
    /* border: white 1px solid; */
    box-shadow: 5.5px 7px 0 #000030;
    background: linear-gradient(
        15deg,
        #880088,
        #8320aa,
        rgb(111, 0, 255)
        /* #0ff */
      )
      no-repeat;
    background-size: 300%;
    background-position: left center;
    /* transition: background 0.3s ease; */
    transition: ease 0.6s;
    color: #fff;
  }

  #uploadLabel {
    background-color: #fff;
    color: #0000007e;
    border: none;
    padding: 20px 50px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 20px;
    /* border: 1px solid #000; */

    /* border: 1.5px solid #000; */
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #000;
    outline: none;
    transition: ease 0.25s;
    text-align: left;
    background-color: #fff;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    background: #ffffff;
    -webkit-box-shadow: 11px 11px 33px #ababab, -11px -11px 33px #ffffff;
    box-shadow: 11px 11px 33px #ababab, -11px -11px 33px #ffffff;


background: linear-gradient(
  15deg,
  #880088,
  #8320aa,
  rgb(111, 0, 255),
  /* #0ff, */
  /* #0ff, */
  /* rgb(111, 0, 255), */
  #8320aa,
  #880088
)
no-repeat;
background-size: 300%;
background-position: left center;
/* transition: background 0.3s ease; */
transition: ease 0.6s;
color: #fff;

border: 1.5px solid #000;
border-radius: 0.5rem;
box-shadow: 2.5px 3px 0 #000, 12px 12px 33px #cccccc, -12px -12px 33px #ffffff;

  }

#uploadLabel:hover {
  background-color: #fff;
  /* color: #0000007e; */
  background: linear-gradient(
  15deg,
  #880088,
  #8320aa
)
no-repeat;
background-size: 300%;
background-position: left center;
transition: ease 0.6s;
  /* border: #000030 1px solid; */
  box-shadow: 5.5px 7px 0 #000030;
}

  .pitch-row{
    margin-top: 20px;
    margin-inline: 20px;
    height: 65vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    
  }
  .pitch{
    /* background: #fff; */
    /* border: 2px solid #fff; */
    height: 100%;
    width: 25%;
    /* border-radius: 3px; */
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    /* overflow-y: scroll; */
    
  }
  .pitch textarea{
    height: 64%;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;

    /* border: 1.5px solid #000000a8; */
    border-radius: 0.5rem;
    /* box-shadow: 2.5px 3px 0 #000000a8; */
    outline: none;
    transition: ease 0.25s;
    text-align: left;
    background-color: #fff;
    resize: none;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    background: #ffffff;
    -webkit-box-shadow: 11px 11px 33px #ababab, -11px -11px 33px #ffffff;
    box-shadow: 11px 11px 33px #ababab, -11px -11px 33px #ffffff;
  }

  .submit{
    height:18%;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    
  }
  .nobg-submit{
    height:18%;
  }
  .content-row {
    background: #fff;
    border: 2px solid #fff;
    height: 100%;
    width: 70%;
    border-radius: 3px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Center the content row horizontally */
    overflow-y: auto;
    /* border: 1.5px solid #000000a8; */
    border-radius: 0.5rem;
    /* box-shadow: 2.5px 3px 0 #000000a8; */
    outline: none;
    transition: ease 0.25s;
    text-align: left;
    -webkit-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    background: #ffffff;
    -webkit-box-shadow: 11px 11px 33px #ababab, -11px -11px 33px #ffffff;
    box-shadow: 11px 11px 33px #ababab, -11px -11px 33px #ffffff;
}

#dataTable {
    width: 90%;
    border-collapse: collapse;
    /* overflow-y: hidden; */
}

#dataTable tbody{

}
#dataTable tbody tr {
    width: 100%;
}

#dataTable tbody tr td {
    width: 33.33%;
    border-bottom: 1px solid #ddd;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 8px;
    box-sizing: border-box;
    text-align: left; /* Adjust the text alignment as needed */
}

#dataTable thead tr th {
    width: 33.33%;
    border: 1px solid #ddd;
    padding: 8px;
    box-sizing: border-box;
    text-align: left; /* Adjust the text alignment as needed */
    background-color: #f2f2f2; /* Optional: Add a background color to the header */
}

#dataTable {
    table-layout: fixed;
}



  /* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #333;
  } */
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    background: #1e1e1e;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    min-width: 600px;
    max-width: 80%;
    color: #414141;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
  }
  
  .hidden {
    display: none;
  }
  
  .sidebar {
    min-width: 150px;
    /* border-right: 1px solid #444; */
    padding-right: 20px;
  }
  
  .sidebar-item {
    padding: 10px;
    cursor: pointer;
    color: #ccc;
  }
  
  .sidebar-item:hover,
  .sidebar-item.active {
    background: #333;
    color: #fff;
    border-radius: 5px;
  }
  
  .main-content {
    padding: 20px;
    flex-grow: 1;
    border: none;
    
  }
  .main-content form {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }
  
  .content {
    display: block;
    border: none;}
  
  .content.active {
    display: block;
  }
  
  .close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
  }
  
  .profile-picture {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-picture img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ccc;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background: #2a2a2a;
    color: #fff;
  }
  
  p {
    font-size: 14px;
    margin: 10px 0;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #signOut {
    background: #666;
    color: #fff;
  }
  
  #signOut:hover {
    background: #555;
  }
  
  #deleteAccount {
    background: #c00;
    color: #fff;
  }
  
  #deleteAccount:hover {
    background: #a00;
  }
  
  .checkbox-wrapper-46 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }
  
  .checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .checkbox-wrapper-46 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098a9;
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000d3848;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .checkbox-wrapper-46 .cbx span:last-child {
    padding-left: 8px;
  }
  .checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: #000d3848;
  }
  
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    background: #000d3848;
    border-color: #000d3848;
    animation: wave-46 0.4s ease;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }
  
  @keyframes wave-46 {
    50% {
      transform: scale(0.9);
    }
  }
  .button {
    width: 100%;
    /* height: 5em; */
    display: flex;
    padding: 0.8em 1.1em;
    gap: 0.4rem;
    border: none;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
    /* background: linear-gradient(
        15deg,
        #880088,
        #aa2068,
        #cc3f47,
        #de6f3d,
        #f09f33,
        #de6f3d,
        #cc3f47,
        #aa2068,
        #880088
      )
      no-repeat; */
      background: linear-gradient(
        15deg,
        #880088,
        #8320aa,
        rgb(111, 0, 255),
        #0ff,
        #0ff,
        rgb(111, 0, 255),
        #8320aa,
        #880088
      )
      no-repeat;
    background-size: 300%;
    background-position: left center;
    transition: background 0.3s ease;
    color: #fff;
    /* color: #1C1A1C; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    -webkit-border-radius: 16px;
border-radius: 16px;
/* background: #ffffff; */
-webkit-box-shadow: 12px 12px 33px #cccccc, -12px -12px 33px #ffffff;
box-shadow: 12px 12px 33px #cccccc, -12px -12px 33px #ffffff;
  }
  
  .button:hover {
    background-size: 320%;
    background-position: right center;
  }
  
  /* .button:hover svg { */
    /* fill: #fff; */
  /* } */
  
  .button svg {
    width: 23px;
    fill: #f09f33;
    transition: 0.3s ease;
  }



  .button-g {
    width: 100%;
    /* height: 5em; */
    display: flex;
    padding: 0.8em 1.1em;
    gap: 0.4rem;
    border: none;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
    /* background: linear-gradient(
        15deg,
        #880088,
        #aa2068,
        #cc3f47,
        #de6f3d,
        #f09f33,
        #de6f3d,
        #cc3f47,
        #aa2068,
        #880088
      )
      no-repeat; */
      background: linear-gradient(to bottom, #f0f, #0ff);
    background-size: 300%;
    background-position: left center;
    transition: background 0.3s ease;
    color: #fff;
    /* color: #1C1A1C; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    /* background-col/or: #fff; */
    -webkit-border-radius: 16px;
border-radius: 16px;
/* background: #ffffff; */
-webkit-box-shadow: 12px 12px 33px #cccccc, -12px -12px 33px #ffffff;
box-shadow: 12px 12px 33px #cccccc, -12px -12px 33px #ffffff;
  }
  
  .button-g:hover {
    background-size: 320%;
    background-position: right center;
  }


  .dots-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
    width: 100%;
  }
  
  .dot {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #0f4d99;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  .dot:last-child {
    margin-right: 0;
  }
  
  .dot:nth-child(1) {
    animation-delay: -0.3s;
  }
  
  .dot:nth-child(2) {
    animation-delay: -0.1s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.1s;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.8);
      background-color: #dfb3fc;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  
    50% {
      transform: scale(1.2);
      background-color: #dd67fb;
      box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }
  
    100% {
      transform: scale(0.8);
      background-color: #f0b3fc;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  }


  /* popup */
#notification-container-pop {
    position: fixed;
    bottom: 40px;
    right: 60px;
    z-index: 1000;
}

.notification-pop {
    background-color: #01010f;
    color: #fff;
    padding-inline: 60px;
    padding-block: 20PX ;
    margin-top: 10px;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 0.5s forwards;
}
.notification-pop .close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.popup-content {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
    color: #fff;
}

.popup-content h3 {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.popup-content p {
    color: #fff;
    font-size: 1em;
    margin-bottom: 10px;
}

.popup-content a {
    color: #ff69b4;
    text-decoration: underline;
}
#currentContent{
    display: block;
}
#newContent {
    background-color: rgb(5, 1, 24);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 
        0 1px 3px rgba(0, 0, 0, 0.12), 
        0 1px 2px rgba(0, 0, 0, 0.24), 
        0 5px 15px rgba(0, 255, 255, 0.5), 
        0 10px 20px rgba(255, 0, 255, 0.5);
    width: 100%;
    height: 65vh;
    /* max-width: 1000px; */
    padding: 20px;
    /* max-height: 400px; */
    overflow-y: hidden;
    overflow-x: hidden; /* Add this to hide horizontal scrollbar */
    position: relative;
}

#newContent h1 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;

}

#newContent table {
    width: 100%; /* Ensure the table takes up the full width of its container */
    border-collapse: collapse;
    margin-bottom: 20px;
    color: #ffffff;
    position: relative;
}

#newContent table thead {
    border-bottom: none;
    border-bottom: solid 1px #ffffff60;
}

#newContent table th, #newContent table td {
    padding: 12px 15px;
    text-align: left;
    border: none;
}

#newContent table th {
    border-bottom: none;
}

#newContent table tbody tr:nth-child(even) {
    background-color: #0dd69a00;
    margin-top: 10px;
}

#newContent table tbody tr {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

#newContent button {
    background-color: #683FEA;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#newContent button:hover {
    background-color: #8320aa;
}

#newContent button:disabled {
    background-color: #666666;
    cursor: not-allowed;
}

.button-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
}

#newContent button + button {
    margin-left: 10px;
}

.details {
    padding: 10px;
    background-color: #1e1e2f00;
    border: 1px solid #444477;
    border-radius: 10px;
    margin-top: 10px;
}

.details label {
    display: block;
    margin-bottom: 8px;
}

.details input[type="text"],
.details textarea {
    width: 100%;
    height: 10vh;
    padding: 8px;
    border: 1px solid #666666;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #2a2a55;
    color: #ffffff;
    background-color: #2a2a55;
    resize: none;
}

.custom-loader {
    margin: 20px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    perspective: 780px;
}

.text {
    font-size: 20px;
    font-weight: 700;
    color: #cecece;
    z-index: 10;
}

.load-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 50%;
}

.load-inner.load-one {
    left: 0%;
    top: 0%;
    border-bottom: 3px solid #5c5edc;
    animation: rotate1 1.15s linear infinite;
}

.load-inner.load-two {
    right: 0%;
    top: 0%;
    border-right: 3px solid #9147ff;
    animation: rotate2 1.15s 0.1s linear infinite;
}

.load-inner.load-three {
    right: 0%;
    bottom: 0%;
    border-top: 3px solid #3b82f6;
    animation: rotate3 1.15s 0.15s linear infinite;
}

@keyframes rotate1 {
    0% { transform: rotateX(45deg) rotateY(-45deg) rotateZ(0deg); }
    100% { transform: rotateX(45deg) rotateY(-45deg) rotateZ(360deg); }
}

@keyframes rotate2 {
    0% { transform: rotateX(45deg) rotateY(45deg) rotateZ(0deg); }
    100% { transform: rotateX(45deg) rotateY(45deg) rotateZ(360deg); }
}

@keyframes rotate3 {
    0% { transform: rotateX(-60deg) rotateY(0deg) rotateZ(0deg); }
    100% { transform: rotateX(-60deg) rotateY(0deg) rotateZ(360deg); }
}

.hidden {
    display: none;
}

.expanded {
    display: table-row;
    animation: expand 0.3s ease-out, opacity 0.3s ease-out;
}

.collapsed {
    display: table-row;
    animation: collapse 0.3s ease-in, opacity 0.3s ease-in;
}

@keyframes expand {
    from {
        opacity: 0;
        height: 0;
    }
    to {
        opacity: 1;
        height: auto;
    }
}

@keyframes collapse {
    from {
        opacity: 1;
        height: auto;
    }
    to {
        opacity: 0;
        height: 0;
    }
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the text */
    left: 50%;
    margin-left: -60px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* MANUAL SEND POPUP */

.manual-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: #000;
  }
  .manual-popup-overlay .container {
    border: solid 1px #8d8d8d;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    width: 15%;
    height: 35%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
  }
  
 .manual-popup-overlay .container .heading {
    font-size: 1.3rem;
    margin-bottom: 20px;
    font-weight: bolder;
  }
  
  .manual-popup-overlay .form {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .manual-popup-overlay .form .btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .manual-popup-overlay .form .btn {
    padding: 10px 20px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 10px;
    border: solid 1px #2a2a2a;
    border-bottom: solid 1px #90c2ff;
    background: linear-gradient(135deg, #0034de, #006eff);
    color: #fff;
    color: #000;
    font-weight: bolder;
    transition: all 0.2s ease;
    box-shadow: 0px 2px 3px #000d3848, inset 0px 4px 5px #2a2a2a,
      inset 0px -4px 5px rgb(20, 20, 20);
      align-self: start;
  }
  
  .manual-popup-overlay .form .btn:active {
    box-shadow: inset 0px 4px 5px #2a2a2a, inset 0px -4px 5px #2a2a2a;
    transform: scale(0.995);
  }
  
  .manual-popup-overlay .input-field {
    position: relative;
    background: #fff;
    background-color: #fff;
    color: #000;
  }
  
  .input-field label {
    /* position: absolute; */
    color: #8d8d8d;
    pointer-events: none;
    background-color: transparent;
    /* left: 15px; */
    /* transform: translateY(0.6rem); */
    transition: all 0.3s ease;
    background-color: #fff;
  }
  
  .manual-popup-overlay input {
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 8px;
    border: solid 1px #8d8d8d;
    letter-spacing: 1px;
    width: 100%;
    background-color: #fff;
    color: #000;
  }
  
  .manual-popup-overlay .input-field input:focus,
 .manual-popup-overlay  .input-field input:valid {
    outline: none;
    border: solid 1px #2a2a2a;
    background-color: #fff;
    
  }
  
 .manual-popup-overlay  .input-field input:focus ~ label,
  .manual-popup-overlay .input-field input:valid ~ label {
    /* transform: translateY(-51%) translateX(-10px) scale(0.8); */
    background-color: #fff;
    padding: 0px 5px;
    color: #2a2a2a;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 100px;
  }
  
  .manual-popup-overlay .form .passicon {
    cursor: pointer;
    font-size: 1.3rem;
    position: absolute;
    top: 6px;
    right: 8px;
  }
  
  .manual-popup-overlay .form .close {
    display: none;
  } 
  .center{
    width: 100%;
    height: 62vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  .center span.text{
    text-decoration: underline;
    /* font-size: 16px; */
    cursor: pointer;
    color: rgb(54, 60, 50);
  }

  .custum-file-upload {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #cacaca;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
  }
  
  .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon svg {
    height: 80px;
    fill: rgba(75, 85, 99, 1);
  }
  
  .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .text span {
    font-weight: 400;
    color: rgba(75, 85, 99, 1);
  }
  
  .custum-file-upload input {
    display: none;
  }

  /* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
  }
  
  .logo img {
    width: 100px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
  }
  
  .nav-links a i {
    margin-right: 8px;
  }
  
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
  }
  
  /* USAGE */
  .dashboard-usage{
    align-self: center;
    justify-self: start;
      padding: 20px;
      margin-top: 40px;
    margin-left: 20px;
      border-radius: 10px;
      /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
      width: 100%;
      /* max-width: 1000px; */
      color: rgb(5, 1, 24);
  }
  #sending {
    /* background-color: red; */
    margin-left: 40px;
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-header {
      font-size: 24px;
      margin-bottom: 20px;
      color: #ffffff;
    color: rgb(5, 1, 24);
      justify-self: start;
  }
  .dashboard-usage h4{
    font-weight: 200;
    margin-bottom: 30px;
    margin-top: 10px;
    color: rgb(5, 1, 24);
  }
  
  .metrics {
      display: flex;
      justify-content: start;
      align-items: center;
      justify-items: space-between;
      flex-direction: row;
      margin-bottom: 20px;
      width: 40%;
      margin-block: 50px;
      /* margin-inline: 20px; */
      /* border:  red 1px solid; */
  }
  
  .metric {
    background: #fff;
      padding-block: 25px;
      padding-inline-start: 20px;
      border-radius: 10px;
      /* height: 60px; */
      text-align: start;
      flex: 1;
      margin-right: 10px;
      /* border: 1.5px solid #000; */
      /* border-radius: 0.5rem; */
      /* box-shadow: 2.5px 3px 0 #000; */
      outline: none;
      transition: ease 0.25s;
      text-align: left;
      background-color: #fff;  
      background-color: #fff;
      -webkit-border-radius: 16px;
  border-radius: 16px;
  background: #ffffff;
  -webkit-box-shadow: 12px 12px 33px #cccccc, -12px -12px 33px #ffffff;
  box-shadow: 12px 12px 33px #cccccc, -12px -12px 33px #ffffff;
  border: 1.5px solid #000;
  border-radius: 0.5rem;
  box-shadow: 2.5px 3px 0 #000, 12px 12px 33px #cccccc, -12px -12px 33px #ffffff;
  }
  
  .metric-value {
      font-size: 45px;
      margin: 0;
      color: rgba(5, 1, 24, 0.678);
  }
  
  .metric-label {
      font-size: 20px;
      font-weight: bold;
      color: rgb(5, 1, 24, 0.678);
  
  }
  
  .metric-label i{
    margin-right : 15px;
    color: rgb(5, 1, 24);
  }
  .row-2{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    
  }
  
  .plan-usage, .subscription, .recent-transactions {
      margin-bottom: 20px;
      background: #fff;
      /* padding-block: 25px;
      padding-inline-start: 20px; */
      border-radius: 10px;
  
      /* width: 50%; */
      /* padding: 50px; */
  }
  .as{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 50%;
    
  }
  .as button{
    margin-top: 2em;
  }
  .pwrd input{
    margin-block: 2em;
  }
  .sub-header {
  
    margin-top: 30px;
      margin-bottom: 10px;
      font-size: 30px;
      color: #000;
  }
  .plan-usage{
    margin-top: 20px;
    width: 100%; 
    padding: 20px ;
    background-color: #fff;
    -webkit-border-radius: 16px;
border-radius: 16px;
background: #ffffff;
-webkit-box-shadow: 12px 12px 33px #cccccc, -12px -12px 33px #ffffff;
box-shadow: 12px 12px 33px #cccccc, -12px -12px 33px #ffffff;
  
  }
  .plan-usage-detail {
      font-size: 14px;
      color: #666;
      margin-bottom: 10px;
      margin-top: 0;
      
  }
  
  .progress-bar {
    margin-top: 0;
    padding-top: 0;
      background-color: #08022b77;
      border-radius: 5px;
      overflow: hidden;
      height: 20px;
      margin-bottom: 2em;
  }
  .progress-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  #progress {
      background-color: #150552;
      border-radius: 5px;
      height: 100%;
  }
  
  #subscription{
    background-color: #150552;
    color: white;
    transition: ease 0.6s;
  }
  .actual-buttons {
      /* background-color: #007bff; */
      color: white;
      border: none;
      /* padding: 10px 20px; */
      padding: 0.6em 0.5em;
      margin-right: 12em;
      border-radius: 5px;
      cursor: pointer;

      border: 1.5px solid #000;
      border-radius: 0.5rem;
      box-shadow: 2.5px 3px 0 #000;
      outline: none;
      transition: ease 0.25s;
      text-align: left;
      background-color: #fff;  
  }
  
  .actual-buttons:hover {
      /* background-color: #0056b3; */
          border: 1.5px solid #000;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #000;
    outline: none;
    transition: ease 0.25s;
    text-align: left;
    background-color: #fff;
  }
  
  .subscription-features ul {
      padding-left: 20px;
  }
  
  .recent-transactions .transaction {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 1px solid #e0e0e0;
  }
  
  .plan-usage input {
              margin-bottom: 0.5em;
              padding: 0.6em 0.5em;
              margin-right: 10em;
              font-size: 1em;
              border: 1px solid #ffffff60;
              background-color: #02021E00;
              border-radius: 5px;
              transition: border-color 0.3s;
              color: #fff;
          }

.Clear-all{
margin-top: 20px;
/* padding: 10px 60px; */
color: #4e4e4e;
text-decoration: underline;
cursor: pointer;
font-weight: 400;
/* background-color: #000; */
text-align: left;
/* display: flex; */
/* align-items: start;/ */
/* justify-content: start; */
          }




  @media (min-width: 768px) {
   .navtop{
     display:none;
   }
  }
  @media (max-width: 768px) {
    
    .welcome-content-row{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    margin-right: 20px;
  }
  .pitch-row{
    margin-inline: 20px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    width: 90vw;
    margin-top: 30px;
  }
    .pitch{
      width: 80%;
    }
    .content{
    width: 80%;
    }
    .buttons{
      margin-left: 20px;
    }
     .sidebar{
      display: none;
    }
    .top{
      display:none;
    }
    .navtop{
      display:flex;
      flex-direction: row;
      margin-right: 10px;
    }
    .burger{
      margin-right:10px;
    }
    
  }

  .coolinput {
    display: flex;
    flex-direction: column;
    /* position: static; */
  }
  
 

  .manual-popup-overlay  button {
    --primary-color: #111;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .manual-popup-overlay button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .manual-popup-overlay button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  .manual-popup-overlay button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  .manual-popup-overlay button:hover {
    background-color: var(--hover-color);
  }
  
  .manual-popup-overlay button:hover .arrow {
    background: var(--secondary-color);
  }
  
  .manual-popup-overlay button:hover .arrow:before {
    right: 0;
  }
  

  .coolinput .input {
    /* font-family: "SF Pro"; */
    /* max-width: 190px; */
    padding: 0.875rem ;
    font-size: 1rem;
    /* border: 1.5px solid #000; */
    border-radius: 0.5rem;
    /* box-shadow: 2.5px 3px 0 #000; */
    outline: none;
    transition: ease 0.25s;
    text-align: left;
    background-color: #fff;
    -webkit-border-radius: 16px;
  border-radius: 16px;
  background: #ffffff;
  -webkit-box-shadow: 12px 12px 33px #cccccc, -12px -12px 33px #ffffff;
  box-shadow: 12px 12px 33px #cccccc, -12px -12px 33px #ffffff;
  }
  
  .coolinput  .input:focus {
    /* box-shadow: 5.5px 7px 0 black; */
    border: 1.5px solid #000;
  }
  .btn-container {
    margin-top: 10px;
  }

  #myAccount-content .coolinput{

    width: 30%;
    margin-bottom: 10px;
  }
  #myAccount-content button {
    border-radius: 16px;
    margin-bottom: 35px;
    padding: 7px 25px;
    /* padding: 20px 50px; */
  background-color: rgb(255, 255, 255);
  color: #000000cb;
  }

  #myAccount-content button:hover {
    background: rgb(111, 0, 255);
    color: #ffffff;
  }

#myAccount-content .password-reset{
  margin-bottom: 30px;
}

  #myAccount-content .coolinput .input {
    padding: 0.875rem ;
    font-size: 1rem;
    /* border: none; */
    border-radius: 0.5rem;
    /* box-shadow: 2./5px 3px 0 #000; */
    outline: none;
    transition: ease 0.25s;
    text-align: left;
    background-color: #fff;
    background-color: #fff;
    -webkit-border-radius: 16px;
    border: #000000 1px solid;
  border-radius: 16px;
  background: #ffffff;
  -webkit-box-shadow: 12px 12px 33px #cccccc, -12px -12px 33px #ffffff;
  box-shadow:2.5px 3px 0 #000, 12px 12px 33px #cccccc, -12px -12px 33px #ffffff;
  }
  
  #myAccount-content .coolinput  .input:focus {
    box-shadow: 5.5px 7px 0 black;
  }
  #myAccount-content .btn-container {
    margin-top: 10px;
  }

